* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
body {
  width: 100%;
  height: 100%;
  background-color: #000000 !important;
  color: #ffffff;
  font-family: 'Rajdhani', sans-serif;
  overflow: hidden;
  margin: 0;
  padding: 0;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
#root {
  width: 100%;
  height: 100%;
  min-width: 100vw;
  min-height: 100vh;
  opacity: 1 !important;
  position: relative;
  margin: 0;
  padding: 0;
  background-color: #000000;
}